@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #7980ff;
  --color-secondary: #6366f1;
  --color-warm-gray: #f2c497;
}

.bg-theme-primary {
  background-color: var(--color-primary);
}

.bg-theme-secondary {
  background-color: var(--color-secondary);
}

.bg-theme-warm-gray {
  background-color: var(--color-warm-gray);
}

.text-theme-primary {
  color: var(--color-primary);
}

.text-theme-secondary {
  color: var(--color-secondary);
}

.input-custom:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--color-primary);
}

.btn-primary {
  background-color: var(--color-primary);
  color: white;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: var(--color-primary);
}

input[type="range"].range-primary {
  accent-color: var(--color-primary);
}

.link-primary {
  color: var(--color-primary);
  text-decoration: none;
  transition:
    color 0.2s ease,
    text-decoration 0.2s ease;
}

.link-primary:hover {
  text-decoration: underline;
}

.my-swal-actions {
  gap: 1rem !important;
  display: flex !important;
  justify-content: center;
}

.projectDescription select,
.deployInstruction select,
.criticalNotes select {
  pointer-events: none !important;
  display: none;
}

[data-slot="wrapper"]:has(.leftmenuDrawer) {
  z-index: 9999 !important;
}
